@import url('https://fonts.googleapis.com/css?family=Delius');

.App {
  font-family: 'Delius', cursive;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/*Edit Component*/
.title {
  margin-bottom: 10px;
  padding-left: 10px;
}
#date {
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}
.main {
  width: 320px;
}
.option-genre {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.state-group-inputs {
  display: flex;
  margin-left: 10px;
}
.option-genre-label, .option-genre-input {
  margin: 0px;
  padding: 0px 10px;
  font-size: 1.5em;
}
.message {
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px; 
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.btn-group {
  margin-top: 30px;
}
.link {
  text-decoration: none;
}
.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit_btn {
  font-size: 18px;
  width: 100%;
  padding: 10px 6px;
  outline: none;
  &:hover {
    background-color: #242424;
    color: white;
    cursor: pointer;
  }
}
.save {
  text-transform: uppercase;
  background-color: #00a2ff;
  border: none;
}
.discard {
  background-color: white;
  border: none;
}
/*Header Component*/
.header {
  text-align: center;
  font-size: 1.5em;
  color: white;
  width: 100%;
  background-color: #00a2ff;
  padding: 4px 6px;
  &:hover {
    background-color: #242424;
    color: white;
    cursor: pointer;
  }
}
.header .link {
  color: white;
}

/*List Component*/
.days-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.days-list-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.happy {
  color: orange;
  &:hover {
    color: #242424;
  }
}
.unhappy {
  color: #a3a1a1;
}